<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table Creation Test</title>
    <style>
        table, th, td {
            border: 2px solid #00fd22;
        }
        td {
            padding: 5px;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <td>O</td>
        <td>X</td>
        <td>X</td>
    </tr>
    <tr>
        <td>O</td>
        <td>O</td>
        <td>X</td>
    </tr>
    <tr>
        <td>X</td>
        <td>O</td>
        <td>X</td>
    </tr>
</table>
</body>
</html>