<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <img src="img/rust.jpg" alt="Rust Sub Region"
         width="400" height="300" usemap="#nglang">
    <map name="nglang">
        <area shape="rect" coords="110, 20, 290, 150"
              href="https://golang.org"
              target="_blank">
        <area shape="rect" coords="10, 120, 390, 290"
              href="https://www.rust-lang.org/"
              target="_blank">
    </map>
</body>
</html>