<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table Creation Test</title>
    <style>
        table, th, td {
            border: 1px solid #00fd22;
        }
        td {
            width: 120px;
            padding: 10px;
        }
    </style>
</head>
<body>
<table>
    <caption>Table Test 4</caption>
    <!-- 열에 대한 정보들을 그룹핑하여 모두에게 적용함 -->
    <colgroup>
        <col>
        <col span="2" style="background-color: cornflowerblue">
        <col style="background-color: lemonchiffon">
    </colgroup>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
</body>
</html>