<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table Creation Test</title>
    <style>
        table, th, td {
            /* 테두리 두께, 테두리 유형, 색상(ff = 255) */
            border: 1px solid #ccc;
        }
        td {
            /* 셀 테두리와 내용 사이의 간격(패딩) */
            padding: 5px;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>1 row 1 column</th>
            <td>1 row 2 column</td>
            <td>1 row 3 column</td>
        </tr>
        <tr>
            <th></th>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>
</html>