<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table Creation Test</title>
    <style>
        table {
            width: 70%;
            border: 1px solid #df8912;
            border-collapse: collapse;
        }
        thead {
            background: #23ca92
        }
        td, th {
            border: 1px solid #1afacf;
            padding: 6px;
            font-size: 0.8em;
        }
    </style>
</head>
<body>
    <div id="container">
        <div id="main">
            <section>
                <p><mark>Resume</mark></p>
                <h2 class="subtitle">Who are you ?</h2>
                <!--
                <p><mark>Best Company</mark> Price</p>
                -->
            </section>
            <section>
                <h2 class="subtitle">Experience</h2>
                <ul>
                    <li>Autonomous Vehicles
                        <ul>
                            <li>Power Electronics</li>
                            <li>LTE with H.264</li>
                            <li>DPU Design with FPGA</li>
                            <li>WebRTC with Monitoring</li>
                        </ul>
                    </li>
                    <li>Architect
                        <ul>
                            <li>Device Driver</li>
                            <li>Software Architecture</li>
                            <li>Hardware Architecture</li>
                            <li>FPGA Design</li>
                            <li>OOP with C</li>
                            <li>High Performance with Distributed Environment</li>
                            <li>OpenMPI with Super Computing</li>
                            <li>Clean Architecture with JAVA</li>
                        </ul>
                    </li>
                </ul>
            </section>
            <section>
                <h2 class="subtitle">Skills</h2>
            </section>
            <section>
                <h2 class="subtitle">Education</h2>
                <table>
                    <caption>Educational History</caption>
                    <thead>
                        <tr>
                            <th>School of Origin</th>
                            <th>Major</th>
                            <th>Term</th>
                            <th>Distinction</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</body>
</html>