<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/menubar/menubar.css">
</head>
<body>
    <div class="navbar">
        <a href="#home">홈</a>
        <div class="dropdown">
            <button class="dropbtn">
                마이 페이지
            </button>
            <div class="dropdown-contents">
                <a href="#">구매 내역</a>
                <a href="#">배송 상태</a>
                <a href="#">포인트</a>
            </div>
        </div>
        <a href="#community">커뮤니티</a>
        <a href="#faq">FAQ(자주 묻는 질문)</a>
        <a style="float: right" href="#logout">로그아웃</a>
        <a style="float: right" href="#login">로그인</a>
    </div>
</body>
</html>