<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table Creation Test</title>
    <style>
        table, th, td {
            border: 1px solid #00fd22;
        }
        th, td {
            padding: 10px;
        }
    </style>
</head>
<body>
<table>
    <!-- table에 제목이나 주석을 다는 용도로 활용함 -->
    <caption>
        <strong>Modern Cutting Edge Browser</strong>
        <p>Table Caption Test</p>
    </caption>
    <!-- 왼쪽 정렬된 상태로 표에 제목을 붙이거나 주석을 달때 활용함 -->
    <figcaption>
        <strong>figcaption</strong>
        <p>Test</p>
    </figcaption>
    <tr>
        <th>Browser</th>
        <th>Vendor</th>
        <th>Download</th>
    </tr>
    <tr>
        <th>Chrome</th>
        <td>Google</td>
        <td>https://www.google.com/chrome</td>
    </tr>
    <tr>
        <th>Firefox</th>
        <td>Mozilla</td>
        <td>https://www.mozilla.org/firefox</td>
    </tr>
    <tr>
        <th>Edge</th>
        <td>Microsoft</td>
        <td>https://www.microsoft.com/edge</td>
    </tr>
</table>
</body>
</html>