<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        <li>Golang
            <ol type="a">
                <li>Go Routine</li>
                <li>Go Pointer</li>
                <li>Go Receiver</li>
            </ol>
        </li>
        <li>C
            <ol type="I">
                <li>Pointer</li>
                <li>Structure</li>
                <li>Pointer of Function</li>
            </ol>
        </li>
    </ul>
</body>
</html>