<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <ul>
        <li>
            <label>Occupancy Rate 0.7</label>
            <meter value="0.7"></meter>
        </li>
        <li>
            <label>Usage 33%</label>
            <meter min="0" max="100" value="33"></meter>
        </li>
        <li>Network Traffic</li>
        <meter min="1024" max="20000"
               low="2048" high="16384" value="9212"></meter>
        </br>
        <meter min="1024" max="10000"
               low="2048" high="7000" value="2000"></meter>
        </br>
        <meter min="1024" max="20000"
               low="2048" high="16384" value="17000"></meter>
        </br>
        <meter min="1024" max="20000"
               low="2048" high="9000" value="1500"></meter>
    </ul>
</form>
</body>
</html>