<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/selector/selector8.css">
</head>
<body>
    <h1>Lattice Structure</h1>
    <table>
        <tr>
            <td>Faith</td>
        </tr>
        <tr>
            <td>Faith</td>
        </tr>
        <tr>
            <td>Faith</td>
        </tr>
        <tr>
            <td>Faith</td>
        </tr>
        <tr>
            <td>Faith</td>
        </tr>
        <tr>
            <td>Faith</td>
        </tr>
    </table>
</body>
</html>