<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/selector/selector3.css">
</head>
<body>
<section id="container">
    <h1>상품 판매 리스트</h1>
    <p>가격 정보</p>
    <ul>
        <li>결제 방식
            <ul>
                <li>신용 카드</li>
                <li>현금</li>
                <li>계좌 이체</li>
            </ul>
        </li>
        <li>가격
            <ul>
                <li>기계식 키보드: 10만원</li>
                <li>Dell 모니터: 60만원</li>
                <li>Ryzen CPU: 37만원</li>
                <li>Intel i9-9900x: 71만원</li>
            </ul>
        </li>
    </ul>
</section>
</body>
</html>