<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/listImg.css">
</head>
<body>
    <h1>Electronic Design Corp</h1>
    <ul>
        <li>History</li>
        <li>Outsourced Development</li>
        <li>Document(Only Employee)</li>
        <li>Project Progress Status(Only Employee)</li>
        <li>Storage(Only Employee)</li>
        <li>Fund Management Status</li>
        <li>Job Annoucement</li>
        <li>Talent</li>
    </ul>
</body>
</html>