<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Board List</title>
</head>
<body>
    <h2>Board List</h2>
    <a href="register.html" th:href="@{register}">New</a>

    <table border="1">
        <tr>
            <th align="center" width="80">번호</th>
            <th align="center" width="320">제목</th>
            <th align="center" width="100">글쓴이</th>
            <th align="center" width="180">등록일자</th>
        </tr>
    </table>
</body>
</html>