<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Board List</title>
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.5.1.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready( function() {
            $("#header").load("/");
        });
    </script>
</head>
<body>
    <div id="header"></div>
    <h2>Board List</h2>
    <a href="register.html" th:href="@{register}">New</a>

    <table border="1">
        <tr>
            <th align="center" width="80">번호</th>
            <th align="center" width="320">제목</th>
            <th align="center" width="100">글쓴이</th>
            <th align="center" width="180">등록일자</th>
        </tr>
        <tr th:if="${#lists.isEmpty(list)}">
            <td colspan="4">
                List is Empty.
            </td>
        </tr>
        <tr th:each="board : ${list}">
            <td align="center" th:text="${board.boardNo}">
                ${board.boardNo}
            </td>
            <td align="left">
                <a href="read.html"
                   th:href="@{|read?boardNo=${board.boardNo}|}"
                   th:text="${board.title}">${board.title}</a>
            </td>
            <td align="right" th:text="${board.writer}">
                ${board.writer}
            </td>
            <td align="center"
                th:text="${#dates.format(board.regDate, 'yyyy-MM-dd HH:mm:ss')}">
                ${board.regDate}
            </td>
        </tr>
    </table>
</body>
</html>