.box {
    position: absolute;
    left: 50px;
    top: 70px;
    width: 100px;
    height: 60px;
    background: #ffffff;
    border: 2px solid green;
    text-align: center;
    line-height: 60px;
}
.box:hover {
    /* webkit: 크롬, 사파리 */
    -webkit-transform: rotate(15deg);
    /* moz: 파이어폭스 */
    -moz-transform: rotate(15deg);
    /* 엣지 */
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
}