<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/column-rule/column-rule.css">
</head>
<body>
    <section>
        <h2>Programming</h2>
        <h3>Golang</h3>
        <p>Rust</p></br>
        <div class="multi">
            <h3>C</h3>
            <p>C</p>
            <h3>C++</h3>
            <p>C++</p>
            <h3>Java</h3>
            <p>Java</p>
            <h3>JavaScript</h3>
            <p>JavaScript</p>
        </div>
    </section>
</body>
</html>