<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bordersheet.css">
</head>
<body>
    <div id="container">
        <h1>Company Introduction</h1>

        <h2 class="accent">Self-Driving Vehicle Vendor</h2>
        <p>Our Product <span class="browntext boldtext">
            give 'Safety' to people.</span></p>

        <h2 class="bluetext">Mission</h2>
        <p><span class="bluetext">차량</span> 안전</p></br>

        <p class="bluetext">FPGA 기반 차량용 칩 생산</p>
    </div>
</body>
</html>