<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        section {
            /* 너비 설정 */
            width: 500px;
            /* 테두리와 내용 사이의 공백 */
            padding: 10px;
            /* 테두리 형식 */
            border: 5px solid gray;
        }
    </style>
</head>
<body>
    <div id="container">
        <section>
            <h2>Who am I ?</h2>
            <p>Interest at Go Based FPGA!</br>
            High Performance Go go go!</p>
        </section>
    </div>
</body>
</html>