<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/variousFont.css">
</head>
<body>
    <p>브라우저 기본 폰트 실험</p>
    <p class="ng-font">나눔 고딕 실험</p>
    <p>Browser Font Test</p>
    <p class="ng-font">Nanum Gothic Test</p>
    </br>
    <p class="em1-test">Font Size</p>
    <p class="em3-test">Font Size</p>
    <p class="em2_5-test">Font Size</p>
    <p>Font Size</p>
    </br>
    <p class="italic-txt">Italic</p>
    <p>Italic</p>
    </br>
    <p>안녕, 나는 오늘부터
        <span class="cancel-line">HTML4</span> HTML5를 공부할거야!</p>
    </br>
    <h2>Todo List</h2>
    <ul>
        <li class="upper-trans">html</li>
        <li class="capital-trans">spring</li>
        <li class="lower-trans">JAVASCRIPT</li>
    </ul>
    </br>
    <h2 class="shadow-orange-txt">HTML5</h2>
    <h2 class="shadow-red-txt">HTML5</h2>
    <h2 class="shadow-white-txt">HTML5</h2>
    </br>
    <h2 class="shadow-cool-txt">HTML5</h2>
</body>
</html>