<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/variousFont.css">
</head>
<body>
    <p>브라우저 기본 폰트 실험</p>
    <p class="ng-font">나눔 고딕 실험</p>
    <p>Browser Font Test</p>
    <p class="ng-font">Nanum Gothic Test</p>
    </br>
    <p class="em1-test">Font Size</p>
    <p class="em3-test">Font Size</p>
    <p class="em2_5-test">Font Size</p>
    <p>Font Size</p>
    </br>
    <p class="italic-txt">Italic</p>
    <p>Italic</p>
    </br>
    <p>안녕, 나는 오늘부터
        <span class="cancel-line">HTML4</span> HTML5를 공부할거야!</p>
    </br>
    <h2>Todo List</h2>
    <ul>
        <li class="upper-trans">html</li>
        <li class="capital-trans">spring</li>
        <li class="lower-trans">JAVASCRIPT</li>
    </ul>
    </br>
    <h2 class="shadow-orange-txt">HTML5</h2>
    <h2 class="shadow-red-txt">HTML5</h2>
    <h2 class="shadow-white-txt">HTML5</h2>
    </br>
    <h2 class="shadow-cool-txt">HTML5</h2>
    </br>
    <div id="container">
        <p class="align-left">
            나는 왼쪽으로 간다. 그런데 길에 바나나가 놓여 있었다.
            바나나를 밟고 넘어졌다. 주변의 시선이 따가웠다.
            Sprawling and populous, India presents unique healthcare challenges. Its vast COVID-19 vaccination program offers an example to even rich nations.
        </p>
        <p class="align-right">
            나는 오른쪽으로 간다.
        </p>
        <p class="align-center">
            나는 가운데 정렬이다!
        </p>
        <p class="align-justify">
            나는 왼쪽으로 간다. 그런데 길에 바나나가 놓여 있었다.
            바나나를 밟고 넘어졌다. 주변의 시선이 따가웠다.
            Sprawling and populous, India presents unique healthcare challenges. Its vast COVID-19 vaccination program offers an example to even rich nations.
        </p>
    </div>
</body>
</html>