<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/avoidsheet.css">
</head>
<body>
    <div id="container">
        <!-- 어째서 초록색이 안되는거지 ?
             !important가 있으므로 덮어쓰기가 진행되지 않음 -->
        <h2 style="color: green;">Mission</h2>
        <p>Success to Autonomous Control, </br>
        Make own 32 Stack PCB Board.</br>
        Perfect Detection</p>
        <p style="color: red; font-style: italic;">
            Is it Perfect ?
        </p>
    </div>
</body>
</html>