<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/border/border4.css">
</head>
<body>
    <table class="schedule" id="tb1">
        <caption>Performance Comparison</caption>
        <tr>
            <td>CPU Timing</td>
            <td>Go vs Rust</td>
        </tr>
        <tr>
            <td>Memory Usage</td>
            <td>C vs Java</td>
        </tr>
        <tr>
            <td>Hardware Acceleration</td>
            <td>GPU vs FPGA</td>
        </tr>
        <tr>
            <td>Test</td>
            <td></td>
        </tr>
    </table>
    <table class="schedule" id="tb2">
        <caption>Performance Comparison</caption>
        <tr>
            <td>CPU Timing</td>
            <td>Go vs Rust</td>
        </tr>
        <tr>
            <td>Memory Usage</td>
            <td>C vs Java</td>
        </tr>
        <tr>
            <td>Hardware Acceleration</td>
            <td>GPU vs FPGA</td>
        </tr>
        <tr>
            <td>Test</td>
            <td></td>
        </tr>
    </table>
</body>
</html>