<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/textborder.css">
</head>
<body>
    <div id="container">
        <img src="img/product.jpeg"
             width="100" height="100" alt="DSP HDK">
        <div id="check">
            <h1>Check</h1>
            <h2>Order and Delivery</h2>
            <p><span class="accent">Before 2 pm</span></br>
                Orders are shipped the same day</br>
                Ships the next day after 2 pm.</p>
            <hr>
            <h2>Exchange & Refund</h2>
            <p>Dissatisfied <span class="accent">100% </span>Refund</br>
            Call Customer Service</p>
            <hr>
            <h2>Service Center</h2>
            <p>1234-5678-9012</br>
            <span class="smalltext">Consultation Hours: 9 am to 6 pm</span></p>
        </div>
    </div>
</body>
</html>