<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/box/box12.css">
</head>
<body>
    <div class="box1">Padding Test</div>
    <div class="box2">Padding Test</div>
    <div class="box3">Padding Test</div>
    <div class="box4">Padding Test</div>
    <div class="box5">Padding Test</div>
    <div class="box6">Padding Test</div>
    <div class="box6">Padding Test</div>
    <div class="box7">Padding Test</div>
</body>
</html>