<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/box/box2.css">
</head>
<body>
    <div id="inline">
        <img src="img/cat.jpg" width="125" height="125">
        <img src="img/golang.png" width="125" height="125">
        <img src="img/start_button.png" width="125" height="125"></br>
        <img src="img/cat.jpg" width="250" height="250">
        <img src="img/golang.png" width="250" height="250">
        <img src="img/start_button.png" width="250" height="250">
    </div>
    <div id="block">
        <img src="img/cat.jpg" width="125" height="125">
        <img src="img/golang.png" width="125" height="125">
        <img src="img/start_button.png" width="125" height="125"></br>
        <img src="img/cat.jpg" width="250" height="250">
        <img src="img/golang.png" width="250" height="250">
        <img src="img/start_button.png" width="250" height="250">
    </div>
</body>
</html>