<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/box/box16.css">
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>Header</h1>
        </div>
        <div id="sidebar">
            <h2>Sidebar</h2>
            <ul>
                <li>Golang</li>
                <li>Rust</li>
                <li>Verilog</li>
            </ul>
        </div>
        <div id="contents">
            <h2>Contents</h2>
            <p>Block Chain</p>
            <p>Deep-Learning Processing Unit(DPU)</p>
        </div>
        <div id="footer">
            <h2>Footer</h2>
            <p>XXXX Corp</p>
        </div>
    </div>
</body>
</html>