<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/box/box13.css">
</head>
<body>
    <div class="box1">box-sizing = "content-box" blablablabla blablablablablablsdfsddddddddddddddddddddddddddddddddddddddddddddablabla</div>
    <div class="box2">box-sizing = "border-box" blablablabla blablablablablasfsfsdfsdfsdfsddddddddddddddddfsdfsdfsdfsdfsfdsblablabla</div>
    <div class="box1">box-sizing = "content-box"</div>
    <div class="box2">box-sizing = "border-box"</div>
</body>
</html>