<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/box/box5.css">
</head>
<body>
    <div id="box-container">
        <div class="none">none</div>
        <div class="block1">block1</div>
        <div class="block2">block2</div>
        <span class="inline">inline</span>
        <span class="inline-block">inline-block adsadfaldfjakdjfkadjfsajdflkajdlkfjadlkfjalkdfjalkdjflkajdfksajflkajdlkajdlkfjalkfjsafjlkdjflksadjfksajdfkajdflksajdlkfjsadfjalkdfjlkadjfsajdfldlkfjsalkdfjsalkdjflsf</span>
        <span>default inline-block</span>
        <div>block3</div>
    </div>
</body>
</html>