<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Map Application</h1>
    <p>Use iframe</p>
    </br></br>
    <!--
    <iframe id="iframeExample"
            title="iframe exam"
            width="400"
            height="300"
            src="https://www.openstreetmap.org/export/embed.html?bbox=-0.004017949104309083%2C51.47612752641776%2C0.00030577182769775396%2C51.478569861898606&layer=mapnik"></iframe>
            -->
    <iframe width="400" height="300"
            src="https://www.openstreetmap.org/export/embed.html">
    </iframe>
</body>
</html>