<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>RegisterForm</title>
</head>
<body>
    <h1>RegisterForm</h1>

    <!-- Get에서 인자를 처리할 때
         앞에가 키값, 뒤에가 밸류값으로 구성되며
         구분자로 & 를 사용한다.
         그렇기 때문에 아래와 같은 URL 형식을 가진다. -->
    <a th:href="@{register?userId=sdr4linux&passwd=1234}">
       register?uesrId=sdr4linux&amp;passwd=1234
    </a></br>

    <form th:action="@{/request/register}" method="post">
        아 이 디: <input type="text" name="userId" value="AD9361"></br>
        비밀번호: <input type="password" name="passwd" value="1234"></br>
        <input type="submit" value="등록!">
    </form>

    <a th:href="@{registerByEntity?userId=sdr4linux&passwd=1234}">
        registerByEntity?uesrId=sdr4linux&amp;passwd=1234
    </a></br>

    <form th:action="@{/request/registerWithEntity}" method="post">
        아 이 디: <input type="text" name="userId" value="sdr"></br>
        비밀번호: <input type="password" name="passwd" value="1234"></br>
        <input type="submit" value="등록!">
    </form>
</body>
</html>