<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="css/vue/trans.css" rel="stylesheet">
</head>
<body>

    <div id="app">
        캐릭터명: <input v-model="characterName"></br>
        레벨: <input v-model="characterLv"></br>
        상태: <input v-model="characterStatus"></br>
        HP: <input v-model="characterHp"></br>
        ATK: <input v-model="characterAtk"></br>
        DEF: <input v-model="characterDef"></br>

        <p>캐릭터명: {{ characterName }}&nbsp;&nbsp;&nbsp;
            경험치: {{ curExp }} / {{ needExp }}</p>
        <p>레벨: {{ characterLv }}</p>
        <p>상태: {{ characterStatus }}</p>
        <p>HP: {{ characterHp }}</p>
        <p>ATK: {{ characterAtk }}</p>
        <p>DEF: {{ characterDef }}</p>
        <p>돈: {{ money }}</p>

        <button v-on:click="addMonster">몬스터 추가</button></br>
        <button v-on:click="addManyMonster">100마리씩 몬스터 추가</button>
        <button v-on:click="amaterasu">아마테라스</button>

        <ul>
            <li v-for="(monster, index) in monsters"
                v-bind:key="monster.id"
                v-bind:class="{ strong: monster.hp > 300 }">
                ID.{{ monster.id }} {{ monster.monsterName }}
                HP.{{ monster.hp }} STATUS.{{ monster.status }}
                <button v-on:click="doRemove(index)">몬스터 삭제</button>
                <span v-if="monster.hp > 300">강함</span>
                <span v-if="monster.hp <= monster.morbidity">빈사상태</span>
                <button v-on:click="doAttack(index)">공격</button>
            </li>
        </ul>

        <h3>상점</h3>
        <label>
            <input type="checkbox" v-model="shopView"
                   v-on:click="shuffleShopList()">상점
        </label>
        <button v-on:click="calcBuy()">구매</button>
        <table border="1">
            <tr v-if="shopView">
                <th align="center" width="20">번호</th>
                <th align="center" width="80">이름</th>
                <th align="center" width="80">가격</th>
                <th align="center" width="320">효과</th>
                <th align="center" width="40">구매</th>
            </tr>
            <tr v-if="shopView" v-for="(list, idx) in shopList"
                v-bind:key="list.itemName">
                <th align="center" width="20">{{ idx + 1 }}</th>
                <th align="center" width="80">{{ list.itemName }}</th>
                <th align="center" width="80">{{ list.price }}</th>
                <th align="center" width="320">{{ list.effect.desc }}</th>
                <th align="center" width="40">
                    <label>
                        <input type="checkbox"
                               v-model="shopListValue" v-bind:value="idx">
                    </label>
                </th>
            </tr>
        </table>
    </div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            monsters: [
                { id: 1, monsterName: '슬라임', hp: 10, status: 'Default' },
                { id: 2, monsterName: '고블린', hp: 30, status: 'Default' },
                { id: 3, monsterName: '드래곤', hp: 5000, status: 'Default' }
            ],
            monBooks: [
                { monsterName: '슬라임', exp: 1, hp: 10, sprMoney: 10 },
                { monsterName: '고블린', exp: 2, hp: 20, sprMoney: 20 },
                { monsterName: '빨간 슬라임', exp: 5, hp: 10, sprMoney: 40 },
                { monsterName: '구울', exp: 10, hp: 50, sprMoney: 100},
                { monsterName: '해골 병사', exp: 20, hp: 100, sprMoney: 200 },
                { monsterName: '해골 궁수', exp: 20, hp: 70, sprMoney: 200 },
                { monsterName: '해골 기사', exp: 50, hp: 400, sprMoney: 500 },
                { monsterName: '고스트', exp: 100, hp: 1000, sprMoney: 700 },
                { monsterName: '듀라한', exp: 200, hp: 4000, sprMoney: 1000 },
                { monsterName: '리치', exp: 500, hp: 10000, sprMoney: 2000 },
                { monsterName: '리치킹', exp: 3000, hp: 100000, sprMoney: 10000 },
                { monsterName: '베히모스', exp: 2000, hp: 80000, sprMoney: 5000 },
                { monsterName: '베히모스킹', exp: 25000, hp: 800000, sprMoney: 50000 },
                { monsterName: '드래곤', exp: 100000, hp: 10000000, sprMoney: 100000 },
            ],
            itemBooks: [
                { itemName: 'HP Potion I', price: 50, effect:
                        { desc: "20 hp recover", amount: 200 } },
                { itemName: 'HP Potion II', price: 200, effect:
                        { desc: "100 hp recover", amount: 200 } },
                { itemName: 'HP Potion III', price: 600, effect:
                        { desc: "400 hp recover", amount: 200 } },
                { itemName: 'HP Potion IV', price: 1200, effect:
                        { desc: "800hp recover", amount: 200 } },
                { itemName: 'HP Potion V', price: 2000, effect:
                        { desc: "1200hp recover", amount: 200 } },
                { itemName: 'Sword', price: 300000, effect:
                        { desc: "weapon", atk: 100 } },
                { itemName: 'Iron Sword', price: 1000000, effect:
                        { desc: "weapon", atk: 200 } }
            ],
            characterName: '',
            characterLv: 1,
            characterStatus: '',
            characterHp: 100,
            characterAtk: 9,
            characterDef: 1,
            onlyCalcDef: 1,
            curExp: 0,
            needExp: 10,
            monsterName: '',
            money: 0,
            shopList: [],
            shopListValue: [],
            shopView: false,
            myInventory: []
        },
        methods: {
            addMonster: function() {
                var max = this.monsters.reduce(function(a, b) {
                    return a > b.id ? a : b.id
                }, 0)

                var lenMax = this.monBooks.length
                var idx = Math.floor(Math.random() * lenMax)

                this.monsters.push({
                    id: max + 1,
                    monsterName: this.monBooks[idx].monsterName,
                    hp: this.monBooks[idx].hp,
                    status: 'Default'
                })
            },
            addManyMonster: function() {
                for(var i = 0; i < 100; i++) {
                    var max = this.monsters.reduce(function(a, b) {
                        return a > b.id ? a : b.id
                    }, 0)
                    var lenMax = this.monBooks.length
                    var idx = Math.floor(Math.random() * lenMax)
                    this.monsters.push({
                        id: max + 1,
                        monsterName: this.monBooks[idx].monsterName,
                        hp: this.monBooks[idx].hp,
                        status: 'Default'
                    })
                }
            },
            doRemove: function(index) {
                this.monsters.splice(index, 1)
            },
            doAttack: function(index) {
                this.monsters[index].hp -= this.characterAtk
            },
            amaterasu: function() {
                var i

                for(i = 0; i < this.monsters.length; i++) {
                    this.monsters[i].hp =
                        parseInt(this.monsters[i].hp -
                            this.characterAtk * 1.5)

                    if(this.monsters[i].hp > 0) {
                        this.monsters[i].status = 'Stun'
                    }
                }
            },
            shuffleShopList: function() {
                if(!this.shopView) {
                    this.shopListValue = []
                }

                for(var i = 0; i < 10; i++) {
                    var randIdx = Math.floor(Math.random() * this.itemBooks.length)
                    this.shopList[i] = this.itemBooks[randIdx]
                }
            },
            calcBuy: function () {
                var tmpSum = 0

                console.log('calcbuy(): ' + this.shopListValue.length)
                console.log('shopList len: ' + this.shopList.length)

                for(var i = 0; i < this.shopListValue.length; i++) {
                    console.log(this.shopListValue[i])

                    for(var j = 0; j < this.shopList.length; j++) {
                        console.log('inner loop')

                        if(this.shopListValue[i] == j) {
                            console.log('match!')
                            tmpSum += this.shopList[j].price
                            break
                        }
                    }
                }

                if(this.money - tmpSum >= 0) {
                    this.money -= tmpSum

                    for(var i = 0; i < this.shopListValue.length; i++) {
                        this.myInventory.push({
                            itemName: this.shopList[this.shopListValue[i]].itemName,
                            effect: this.shopList[this.shopListValue[i]].effect
                        })
                    }
                } else {
                    alert('Give me Money')
                }
            }
        },
        beforeCreate: function () {
            console.log("Before Create: " + this.monsters)
        },
        created: function () {
            console.log("Created: " + this.monsters)
        },
        beforeMount: function () {
            console.log("Before Mount: " + this.monsters)
        },
        mounted: function () {
            console.log("Mounted: " + this.monsters)
        },
        beforeUpdate: function() {
            //console.log("Before Update: " + this.monsters)

            var i

            for(i = 0; i < this.monsters.length; i++) {
                if(this.monsters[i].hp <= 0) {
                    for(var j = 0; j < this.monBooks.length; j++) {
                        if(this.monsters[i].monsterName ==
                            this.monBooks[j].monsterName) {
                            this.curExp += this.monBooks[j].exp
                            var tmp = this.monBooks[j].sprMoney
                            this.money += parseInt(tmp + Math.random() * (tmp / 2))
                        }
                    }
                    this.monsters.splice(i, 1)
                }
            }

            var criteria = this.curExp

            for(; this.curExp >= this.needExp; ) {
                this.curExp = parseInt(this.curExp - this.needExp)

                this.characterLv += 1
                this.characterHp += 10
                this.characterAtk += 2
                this.onlyCalcDef += 0.4
                this.characterDef = Math.floor(this.onlyCalcDef)

                if(this.characterLv < 10) {
                    this.needExp = parseInt(this.needExp * 1.1)
                } else if(this.characterLv < 20) {
                    this.needExp = parseInt(this.needExp * 1.2)
                } else if(this.characterLv < 30) {
                    this.needExp = parseInt(this.needExp * 1.3)
                } else if(this.characterLv < 40) {
                    this.needExp = parseInt(this.needExp * 1.4)
                } else if(this.characterLv < 50) {
                    this.needExp = parseInt(this.needExp * 1.5)
                } else if(this.characterLv < 90) {
                    this.needExp = parseInt(this.needExp * 1.7)
                } else if(this.characterLv < 100) {
                    this.needExp = parseInt(this.needExp * 2)
                }
            }
        },
        updated: function () {
            console.log("Updated: " + this.monsters)
        },
        beforeDestroy: function () {
            console.log("Before Destroy: " + this.monsters)
        },
        destroyed: function () {
            console.log("Destroyed: " + this.monsters)
        }
    })
</script>
</body>
</html>