<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="css/vue/trans.css" rel="stylesheet">
</head>
<body>
<div id="app">
    이름 <input v-model="name"></br>
    HP <input v-model="hp"></br>
    <button v-on:click="addMonster">몬스터 추가</button></br>
    <ul>
        <li v-for="(monster, index) in monsters"
            v-bind:key="monster.id"
            v-bind:class="{ strong: monster.hp > 300 }">
            ID.{{ monster.id }} {{ monster.name }} HP.{{ monster.hp }}
            <button v-on:click="doRemove(index)">몬스터 삭제</button>
            <span v-if="monster.hp > 300">강함</span>
            <span v-if="monster.hp <= monster.morbidity">빈사상태</span>
            <button v-on:click="doAttack(index)">공격</button>
        </li>
    </ul>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            monsters: [
                { id: 1, name: '슬라임', hp: 10,
                    morbidity: 10 * 0.2 },
                { id: 2, name: '고블린', hp: 30,
                    morbidity: 30 * 0.2 },
                { id: 444, name: '드래곤', hp: 5000,
                    morbidity: 5000 * 0.2 },
            ],
            name: '',
            hp: ''
        },
        methods: {
            addMonster: function() {
                var max = this.monsters.reduce(function(a, b) {
                    return a > b.id ? a : b.id
                }, 0)
                this.monsters.push({
                    id: max + 1,
                    name: this.name,
                    hp: this.hp
                })
            },
            doRemove: function(index) {
                this.monsters.splice(index, 1)
            },
            doAttack: function(index) {
                this.monsters[index].hp -= 9
            }
        }
    })
</script>
</body>
</html>