<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="css/vue/trans.css" rel="stylesheet">
</head>
<body>
<div id="app">
    이름 <input v-model="name"></br>
    HP <input v-model="hp"></br>
    <button v-on:click="addMonster">몬스터 추가</button></br>
    <ul>
        <li v-for="(monster, index) in monsters"
            v-bind:key="monster.id"
            v-bind:class="{ strong: monster.hp > 300 }">
            ID.{{ monster.id }} {{ monster.name }} HP.{{ monster.hp }}
            <button v-on:click="doRemove(index)">몬스터 삭제</button>
            <span v-if="monster.hp > 300">강함</span>
            <span v-if="monster.hp <= monster.morbidity">빈사상태</span>
            <button v-on:click="doAttack(index)">공격</button>
        </li>
    </ul>

    <p>Half of {{ width }} is {{ halfWidth }}</p>

    <input v-model.number="budget">원 이하 필터링
    <input v-model.number="limit">개의 결과 출력
    <button v-on:click="order = !order">변경하기</button>
    <p>{{ matched.length }}개 중 {{ limited.length }}개</p>
    <ul>
        <li v-for="item in limited" v-bind:key="item.id">
            {{ item in limited }} {{ item.price }}원
        </li>
    </ul>

    <select v-model="current">
        <option v-for="topic in topics" v-bind:value="topic.value">
            {{ topic.name }}
        </option>
    </select>
    <div v-for="topicList in topicLists">{{ topicList.full_name }}</div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            monsters: [
                { id: 1, name: '슬라임', hp: 10,
                    morbidity: 10 * 0.2 },
                { id: 2, name: '고블린', hp: 30,
                    morbidity: 30 * 0.2 },
                { id: 444, name: '드래곤', hp: 5000,
                    morbidity: 5000 * 0.2 },
            ],
            name: '',
            hp: '',
            width: 800,
            lists: [
                { id: 1, name: ' 사과', price: 1000 },
                { id: 2, name: ' 바나나', price: 2000 },
                { id: 3, name: ' 딸기', price: 4000 },
                { id: 4, name: ' 오렌지', price: 3000 },
                { id: 5, name: ' 메론', price: 5000 },
            ],
            order: false,
            budget: 3000,
            limit: 2,
            topicLists: [],
            current: '',
            topics: [
                { value: 'vue', name: 'Vue.js' },
                { value: 'JPA', name: 'JPA' }
            ]
        },
        watch: {
            current: function(val) {
                axios.get('https://api.github.com/search/repositories', {
                    params: {
                        q: 'topic:' + val
                    }
                }).then(function (response) {
                    console.log(response)
                    this.topicLists = response.data.items
                }).bind(this)
            }
        },
        methods: {
            addMonster: function() {
                var max = this.monsters.reduce(function(a, b) {
                    return a > b.id ? a : b.id
                }, 0)
                this.monsters.push({
                    id: max + 1,
                    name: this.name,
                    hp: this.hp
                })
            },
            doRemove: function(index) {
                this.monsters.splice(index, 1)
            },
            doAttack: function(index) {
                this.monsters[index].hp -= 9
            }
        },
        computed: {
            halfWidth: function() {
                return this.width / 2
            },
            matched: function () {
                return this.lists.filter(function(el) {
                    return el.price <= this.budget;
                }, this)
            },
            sorted: function () {
                return _.orderBy(this.matched, 'price',
                    this.order ? 'desc' : 'asc')
            },
            limited: function () {
                return this.sorted.slice(0, this.limit)
            }
        }
    })
</script>
</body>
</html>