<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        <h3>Course(Multiple Selectable)</h3>
        <ul>
            <li><input type="checkbox" value="C">C</li>
            <li><input type="checkbox" value="Java">Java</li>
            <li><input type="checkbox" value="Python">Python</li>
            <li><input type="checkbox" value="Verilog">Verilog</li>
        </ul>
        <h3>Course(Only 1)</h3>
        <ul>
            <li>
                <label>
                    <input type="radio" name="subject" value="C++">C++
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="subject" value="Vue">Vue
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="subject" value="VitisAI">Vitis-AI
                </label>
            </li>
        </ul>
    </form>
</body>
</html>