<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        <fieldset>
            <label>Id: <input type="text" id="user_id" size="10">
            </label>
            <label>Password: <input type="password" id="user_pw" size="10">
            </label>
            <input type="submit" value="Login">
        </fieldset>
        </br>
        <label>Id:       <input type="text" id="user_id2" size="10">
        </label>
        </br>
        <label>Password: <input type="password" id="user_pw2" size="10">
        </label>
        </br>
        <input type="submit" value="Login">
    </form>
</body>
</html>