<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <table>
        <tr>
            <td>
                <label>Id
                    <input type="text" size="15">
                </label>
            </td>
            <td>
                <label>Password
                    <input type="password" size="15">
                </label>
            </td>
            <td>
                <input type="image" id="button"
                src="img/start_button.png"
                width="100" height="100">
            </td>
        </tr>
    </table>
</form>
</body>
</html>